<!DOCTYPE html>

<html>

<head>
     <style>
        body{
        background-image: url(/img/1.jpg);
        }
    </style>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">

    <title>Help</title>
</head>

<body>
    <div class="main">
            {{>header}}
    <div class=other>
    <p>Weather is the day-to-day or hour-to-hour change in the atmosphere. Weather includes wind, lightning, storms, hurricanes,
         tornadoes, rain, hail, snow, and lots more. Energy from the Sun affects the weather. Climate tells us what kinds of weather usually happen in an area at 
         different times of the year. Changes in weather can affect our mood and life. We wear different clothes and do different things in different weather
          conditions. We choose different foods in different seasons,
         like ice cream in the summer, nut and berries in autumn, or hot chocolate in the winter.</p>
    </div>
    </div>
    {{>footer}}

</body>


</html>